<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liguo.studentinformationmanagementsystem.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.liguo.studentinformationmanagementsystem.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="privilege" jdbcType="VARCHAR" property="privilege"/>
    </resultMap>
    <sql id="Base_Column_List">
        <if test="true">id, username, password, privilege</if>
    </sql>
    <sql id="Privilege_Column_List">
        <if test="true">id, username, privilege</if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Privilege_Column_List"/>
        from user
        <where>
            <if test="username!=null and username!=''">username = #{username}</if>
        </where>
    </select>
    <select id="selectByUserVO" resultType="com.liguo.studentinformationmanagementsystem.entity.User">
        select
        <include refid="Privilege_Column_List"/>
        from user
        where username = #{username}
        and password = #{password}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from user
        where username = #{username}
    </delete>
    <insert id="insert" parameterType="java.util.List">
        insert into user (username, password,
        privilege)
        values
        <foreach item="item" collection="list" index="index" separator=",">
            (
            #{item.username},
            #{item.password},
            #{item.privilege}
            )

        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.liguo.studentinformationmanagementsystem.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="privilege != null">
                privilege,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="privilege != null">
                #{privilege,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.liguo.studentinformationmanagementsystem.entity.User">
        update user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="privilege != null">
                privilege = #{privilege,jdbcType=VARCHAR},
            </if>
        </set>
        where username = #{username}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.liguo.studentinformationmanagementsystem.entity.User">
        update user
        <set>
            <if test="password != null and password!=null">password  = #{password,jdbcType=VARCHAR},</if>
            <if test="privilege != null and privilege!=null">privilege = #{privilege,jdbcType=VARCHAR},</if>
        </set>
        where username = #{username}
    </update>
</mapper>